@mixin centralizacaoPadrao {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@mixin interfaceBar {
    &:hover {
        animation: 1s linear 0s infinite alternate asideMoveShow;

        @keyframes asideMoveShow {
            from {
                transform: translateY(7px);
            }

            to {
                transform: translateY(0);
            }

        }
    }
}

body {

    main {

        .interfaceGroupLight{
            p {
                height: 70px;
                width: 70px;
                border-radius: 50%;
                border: 1.5px solid #000000;
                box-shadow: 0px 0px 10px #000000bd;
                background-color: #fff;
        
                @include interfaceBar();
                @include centralizacaoPadrao();
                cursor: pointer;
            }
            
            #interface {
                border: 1.5px solid #000000;
                box-shadow: 0px 0px 10px #000000bd;
                background-color: #fff;

                @include interfaceBar();
                @include centralizacaoPadrao();
        
                section {
                    height: 166px;
                    @include centralizacaoPadrao();
                    flex-direction: row;
        
                    div {
                        @include centralizacaoPadrao();

                        span{
                            cursor: pointer;
                        }
                    }
                }
        
                img {
                    cursor: pointer;
                    width: 70px;
                }
            }
        }

    }
}