.rotatePokeball{
    rotate: 720deg;
    transition: .5s;
}

.getFavoritePkmon{
    color: #ffd519;
}

// .btnOpenInterface{
//     width: 25px;
//     height: 25px;
//     background-color: #ee3434;
//     color:#ffffff;
//     margin: -35px 0px 10px 0px;
// }

// .interfaceGroupOpen{
//     display: flex;
//     flex-direction: column;
//     align-items: flex-end;
//     justify-content: center;
// }

// .interfaceOpen{
//     display: block;
//     flex-direction: column;
//     justify-content: space-between;
//     align-items: flex-end;

//     border-radius: 10px;
//     padding: 0px 20px;
//     height: 500px;
//     width: 200px;

//     animation: none;
//     transition: .5s ease-in-out .5s;
// }

// btnOpenClose.style.borderRadius='50%';
// btnOpenClose.style.padding='0px'
// btnOpenClose.style.height='70px';
// btnOpenClose.style.width='70px';
// btnOpenClose.style.flexDirection='';
// btnOpenClose.style.justifyContent='center'
// btnOpenClose.style.alignItems='center'
// btnOpenClose.style.backgroundColor='#fff'
// btnOpenClose.style.color='#000'