@mixin centralizacaoPadrao {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@mixin interfaceBar {
    border: 1.5px solid #000000;
    box-shadow: 0px 0px 10px #000000bd;
    background: url(media/bg-branco.avif) center center no-repeat;

    &:hover {
        animation: 1s linear 0s infinite alternate asideMoveShow;

        @keyframes asideMoveShow {
            from {
                transform: translateY(7px);
            }

            to {
                transform: translateY(0);
            }

        }
    }
}

body {

    main {

        div#interfaceGroup {
            
            p{
                height: 70px;
                width: 70px;
                border-radius: 50%;

                @include interfaceBar();
                @include centralizacaoPadrao();
                cursor: pointer;
            }

            #interface{
                
                @include interfaceBar();
                @include centralizacaoPadrao();

                section{
                    height: 166px;
                    @include centralizacaoPadrao();
                    flex-direction: row;

                    div{
                        @include centralizacaoPadrao()
                    }
                }

                img{
                    width: 70px;
                }
            }

        }

    }
}

// .interfaceOpen{
//     width: 25px;
//     height: 25px;
//     background: none;
//     background-color: #ee3434;
//     color:#ffffff;
//     margin: -35px 0px 10px 0px;
// }

// .interfaceGroupOpen{
//     display: flex;
//     flex-direction: column;
//     align-items: flex-end;
//     justify-content: center;
// }

// .interfaceOpen{
//     display: block;
//     flex-direction: column;
//     justify-content: space-between;
//     align-items: flex-end;
    
//     border-radius: 10px;
//     padding: 0px 20px;
//     height: 500px;
//     width: 200px;

//     animation: none;
//     transition: .5s ease-in-out .5s;
// }