@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  text-transform: capitalize;
}

html {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

body {
  width: 90vw;
  height: 95vw;
  background: url(media/bg-branco.avif) no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body header {
  display: flex;
  align-items: center;
  gap: 20px;
}
body header img {
  max-width: 70px;
  margin-bottom: 20px;
}
body main {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
  align-items: center;
}
body main aside#professor-Oak {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  border: 1.5px solid #000000;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7411764706);
  background: url(media/bg-branco.avif) center center no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
body main aside#professor-Oak:hover {
  animation: 1s linear 0s infinite alternate asideMoveShow;
}
@keyframes asideMoveShow {
  from {
    transform: translateY(7px);
  }
  to {
    transform: translateY(0);
  }
}
body main aside#professor-Oak span {
  font-size: 1.5rem;
}
body main aside#professor-Oak h2 {
  font-size: 1.3rem;
  margin-top: 20px;
}
body main aside#professor-Oak p.instructions {
  margin-top: 30px;
  border: 1.5px solid #000000;
  border-radius: 10px;
  padding: 8px;
  text-transform: none;
  text-align: center;
}
body main aside#professor-Oak img {
  width: 150px;
}
body main div#interfaceGroup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  cursor: pointer;
}
body main div#interfaceGroup p {
  margin: -24px 0px 10px 0px;
  width: 20px;
  text-align: center;
  border: 1.5px solid #000;
  border-radius: 50%;
}
body main div#interfaceGroup p:hover {
  background-color: #d61010;
  border: 1.5px solid #7c0000;
  color: #fff;
}
body main aside#interface {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  border: 1.5px solid #000000;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7411764706);
  background: url(media/bg-branco.avif) center center no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body main aside#interface:hover {
  animation: 1s linear 0s infinite alternate asideMoveShow;
}
@keyframes asideMoveShow {
  from {
    transform: translateY(7px);
  }
  to {
    transform: translateY(0);
  }
}
body main aside#interface span {
  font-size: 1.5rem;
  cursor: pointer;
}
body main aside#interface p {
  padding: 0px 7px;
  border: 1.5px solid #000000;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
body main aside#interface p:hover {
  border: 1.5px solid rgb(155, 56, 56);
  background-color: rgb(172, 0, 0);
  color: #fff;
}
body main aside#interface section {
  display: flex;
}
body main aside#interface section div {
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
body main aside#interface img {
  width: 70px;
  cursor: pointer;
}
body main section#container {
  background: url(media/pokemon_field.png) bottom left no-repeat;
  background-size: cover;
  padding: 20px;
  width: 500px;
  height: 500px;
  border-radius: 10px;
  border: 1.5px solid #000000;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7411764706);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}
body main form {
  display: flex;
  justify-content: center;
  gap: 15px;
}
body main #poke-busca-campo {
  margin-top: 50px;
  padding: 10px;
  width: 300px;
  border: 1px solid #000;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7411764706);
}
body main #poke-busca-campo input {
  height: 30px;
  padding: 0px 10px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #6d6d6d;
  cursor: pointer;
  background-color: #e4e4e4;
}
body main #poke-busca-campo input::-webkit-input-placeholder {
  font-size: 0.7rem;
  text-transform: none;
}
body main #poke-busca-campo input:focus {
  outline: 0;
}
body main #poke-busca-campo button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
body main #poke-busca-campo button:hover {
  scale: 1.2;
  transition: 0.2s;
}
body main #poke-busca-campo button:active {
  rotate: 360deg;
  transition: 0.2s;
}
body main #poke-busca-campo img {
  width: 25px;
}
body main #poke-dados-campo {
  padding: 20px;
  width: 300px;
  border: 1px solid #000;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7411764706);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body main #poke-dados-campo #poke-dados-campo-classSprit {
  color: #858585;
  font-weight: 500;
  text-align: center;
}
body main #poke-dados-campo #poke-dados-campo-classType {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
body main #poke-dados-campo #poke-dados-campo-classType p {
  margin-top: 10px;
  border: 1px solid #000000;
  border-radius: 15px;
  padding: 0px 10px;
  font-size: 0.8em;
}
body #poke-dados-campo img {
  max-width: 150px;
}/*# sourceMappingURL=style.css.map */